aiohttp
fastapi
uvicorn
motor
pydantic[email]
python-dotenv
passlib[bcrypt]
PyJWT
email-validator
pydantic-settings
python-multipart
aiosmtplib


# LLM Development
azure-core
azure-ai-documentintelligence
openai
azure-storage-blob

Jinja2>=3.1
PyPDF2
slowapi


azure-ai-inference



aiohappyeyeballs 
aiosignal
annotated-doc
annotated-types
anyio
async-timeout
attrs
azure-ai-documentintelligence
azure-ai-inference
azure-core
azure-storage-blob
bcrypt
build
certifi
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
distro
dnspython
exceptiongroup
frozenlist
h11
httpcore
httptools
httpx
idna
importlib_metadata
isodate
Jinja2
jiter
limits
loguru
MarkupSafe
multidict
openai
packaging
pip
pip-tools
propcache
pycparser
pydantic_core
pymongo
PyPDF2
pyproject_hooks
PyYAML
requests
setuptools
slowapi
sniffio
starlette
structlog
tomli
tqdm
typing_extensions
typing-inspection
urllib3
watchfiles
websockets
wheel
win32_setctime
wrapt
yarl
zipp